.root {
  padding-top: 96px;
  padding-bottom: 192px;
  background: var(--bgcolor);
}

.header {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #fff;
}

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

.list {
  display: flex;
  margin-top: 160px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.contentHeader,
.contentDescription {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.content {
  margin-top: 46px;
}

.contentHeader {
  color: var(--textColor);
}

.contentDescription {
  color: #fff;
  margin-top: 8px;
}

@media (max-width: 1400px) {
  .wrapper {
    max-width: 1024px;
  }

  .list {
    margin-top: 100px;
  }

  .contentDescription {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 1024px) {
  .root {
    padding-bottom: 100px;
  }

  .wrapper {
    max-width: 768px;
  }

  .list {
    padding: 0 20px;
  }

  .contentHeader {
    font-size: 18px;
    line-height: 22px;
  }
  .contentDescription {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 320px;
  }

  .header {
    font-size: 48px;
    line-height: 60px;
  }

  .list {
    margin-top: 80px;
    gap: 60px;
    flex-direction: column;
  }

  .content {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 32px;
    line-height: 40px;
  }

  .list {
    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }
}
