.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 100px;
  background: linear-gradient(179.44deg, #141118 0.51%, #110a18 99.55%);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
}

.header {
  font-size: 60px;
  line-height: 72px;
}

.list {
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 1400px;
  padding: 0 70px 0 64px;
}

.itemContent {
  display: flex;
  gap: 36px;
  justify-content: flex-start;
}

.itemContent:nth-child(even) {
  flex-direction: row-reverse;
}

.clientInfo {
  display: flex;
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-align: center;
  margin-bottom: -60px;
}

.clientName {
  font-size: 22px;
  line-height: 28px;
}

.clientDescription {
  font-size: 16px;
  color: #9d9d9d;
}

.about {
  display: flex;
  align-items: center;
  background-color: #28242d;
  border-radius: 10px;
  padding: 16px;
  height: min-content;
  min-height: 80px;
  text-align: justify;
}

.about-sm {
  font-size: 18px;
  line-height: 24px;
}

.about-md {
  font-size: 20px;
  line-height: 24px;
}

.about-lg {
  font-size: 22px;
  line-height: 28px;
}

@media (max-width: 1400px) {
  .list {
    width: 1024px;
  }

  .itemContent {
    gap: 20px;
  }
}

@media (max-width: 1024px) {
  .header {
    font-size: 48px;
    line-height: 60px;
  }

  .list {
    width: 768px;
    padding: 0 16px 0 16px;
  }

  .clientInfo {
    min-width: 200px;
  }

  .clientName {
    font-size: 18px;
    line-height: 22px;
  }

  .about-sm,
  .about-md,
  .about-lg {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 32px;
    line-height: 40px;
  }

  .list {
    width: 600px;
    margin-top: 48px;
  }

  .itemContent {
    gap: 20px;
  }

  .clientInfo {
    min-width: 120px;
  }

  .clientName,
  .about-sm,
  .about-md,
  .about-lg {
    font-size: 16px;
    line-height: 20px;
  }

  .clientDescription {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 600px) {
  .root {
    padding-bottom: 58px;
  }

  .header {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
    text-align: center;
  }

  .list {
    width: 320px;
  }

  .itemContent {
    flex-direction: column;
  }

  .itemContent:nth-child(even) {
    flex-direction: column;
  }

  .clientInfo {
    margin-bottom: 0;
  }

  .about-sm,
  .about-md,
  .about-lg {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }
}
