.root {
  background-color: #120b18;
}

.imageWrapper {
  width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .imageWrapper {
    width: 100vw;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }

  .imageWrapper {
    width: 100%;
  }
}
