@keyframes arrowMove {
  from {
    top: 0;
  }
  25% {
    top: -8px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -4px;
  }
  to {
    top: 0;
    scale: unset;
  }
}

@keyframes forwardRotation {
  from {
    transform: rotate(0deg);
    scale: calc(0.8);
  }
  50% {
    scale: calc(1.1);
  }
  to {
    scale: calc(0.8);
    transform: rotate(360deg);
  }
}

@keyframes reverseRotation {
  from {
    transform: rotate(0deg);
    scale: calc(0.8);
  }
  50% {
    scale: calc(1.1);
  }
  to {
    scale: calc(0.8);
    transform: rotate(-360deg);
  }
}

@keyframes candyMove {
  from {
    transform: rotate(0deg);
    filter: blur(0.8px);
  }
  5% {
    transform: rotate(-12deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  35% {
    transform: rotate(-12deg);
  }
  42% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.root {
  background: no-repeat center center
    url("../../assets/Promo/backgroundPict.png") #141118;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 148px;
  padding-bottom: 18px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 80px;
  line-height: normal;
  text-align: center;
  color: #fff;
}

.headerGradient {
  background: linear-gradient(90deg, #9f4bfd 0%, #dc4cfd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin-top: 72px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #a7a7a7;
}

.list {
  margin-top: 4px;
  margin-bottom: 56px;
  list-style-type: disc;
  list-style-position: inside;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #a7a7a7;
}

.button {
  margin-top: 56px;
  width: 260px;
  height: 60px;
  background: linear-gradient(90deg, #9f4bfd 0%, #dc4cfd 100%);
  box-shadow: 0px 2px 8px 1px rgba(220, 76, 253, 0.25);
  border-radius: 8px;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
}

.arrow {
  position: relative;
  margin-top: 74px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow:hover {
  animation-name: arrowMove;
  animation-duration: 0.5s;
}

.light {
  color: #fff;
}

.purple {
  color: #dc4cfd;
}

.bitCoin,
.candy,
.eos,
.ethereum,
.sCrypt,
.tCrypt,
.bitCoinBlur {
  position: absolute;
}

.bitCoin,
.eos,
.sCrypt {
  animation-name: forwardRotation;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ethereum,
.tCrypt,
.bitCoinBlur {
  animation-name: reverseRotation;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bitCoin {
  top: 225px;
  right: 154px;
}

.candy {
  top: 270px;
  right: 296px;
  animation-name: candyMove;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.eos {
  top: 442px;
  right: 256px;
}

.ethereum {
  top: 370px;
  left: 242px;
}

.sCrypt {
  width: 30px;
  height: 30px;
  background: #3e73c4;
  filter: blur(0.8px);
  border-radius: 50%;
  bottom: 146px;
  right: 150px;
}

.tCrypt {
  top: 126px;
  left: 160px;
}

.bitCoinBlur {
  bottom: 98px;
  left: 144px;
  rotate: -70deg;
  transform: scale(1.5);
  filter: blur(2.8px);
}

@media (max-width: 1400px) {
  .wrapper {
    max-width: 1024px;
  }

  .bitCoin {
    top: 180px;
    right: 16px;
  }

  .candy {
    right: 108px;
  }

  .eos {
    right: 68px;
  }

  .ethereum {
    left: 54px;
  }

  .sCrypt {
    right: 16px;
  }

  .tCrypt {
    left: 16px;
  }

  .bitCoinBlur {
    left: 36px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }

  .arrow:hover {
    animation-name: none;
  }

  .bitCoin {
    top: 58px;
    right: 186px;
  }

  .candy {
    display: none;
  }

  .eos {
    right: 16px;
  }

  .ethereum {
    left: 16px;
  }

  .sCrypt {
    right: 86px;
  }

  .tCrypt {
    top: 18px;
    left: 136px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 600px;
    /* padding-top: 118px; */
  }

  .header {
    font-size: 60px;
    line-height: 72px;
  }

  .description {
    /* margin-top: 60px; */
    font-size: 18px;
    line-height: 22px;
  }

  .list {
    font-size: 18px;
    line-height: 22px;
    color: #a7a7a7;
  }

  .bitCoin,
  .eos,
  .ethereum,
  .sCrypt,
  .tCrypt,
  .bitCoinBlur {
    display: none;
  }
}

@media (max-width: 600px) {
  .wrapper {
    max-width: 320px;
  }

  .header {
    font-size: 32px;
    line-height: 40px;
  }

  .description {
    font-size: 14px;
    line-height: 18px;
  }

  .list {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 76px;
  }

  .arrow {
    margin-top: 112px;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }
}
