.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(179.44deg, #141118 0.51%, #110a18 99.55%);
  padding-top: 70px;
  padding-bottom: 102px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.header {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  gap: 94px;
  margin-top: 78px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}

.list {
  margin-top: 70px;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 14px;
}

.purple {
  color: #dc4cfd;
}