.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 58px;
  background: var(--bgcolor);
  color: #fff;
  font-family: var(--font-1);
  font-weight: 600;
}

.header {
  font-size: 60px;
  line-height: 72px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 112px;
  margin-top: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0 86px 0 94px;
  margin-bottom: 44px;
  width: 1400px;
  flex-wrap: wrap;
  gap: 34px;
}

.contentHeader {
  font-size: 28px;
  line-height: 34px;
}

.description {
  margin-top: 12px;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.63);
}

.button {
  font-family: var(--font-3);
  font-size: 22px;
  width: 260px;
  height: 60px;
  background: var(--btnBackground);
  box-shadow: 0px 2px 8px 1px rgba(220, 76, 253, 0.25);
  border-radius: 8px;
}

@media (max-width: 1400px) {
  .list {
    padding: 0 20px 0 20px;
    width: 1024px;
    gap: 20px;
  }

  .contentHeader {
    font-size: 24px;
    line-height: 28px;
  }

  .description {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1024px) {
  .header {
    font-size: 48px;
    line-height: 60px;
  }

  .list {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 34px;
    width: 768px;
  }

  .contentHeader,
  .description {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 32px;
    line-height: 40px;
  }

  .list {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 24px;
    line-height: 28px;
    width: 300px;
  }

  .list {
    width: 90vw;
  }

  .contentHeader {
    font-size: 18px;
    line-height: 22px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }

  .br {
    display: none;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }

  .list {
    width: 300px;
  }
}
