.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  background: linear-gradient(179.44deg, #141118 0.51%, #110a18 99.55%);
}

.header {
  font-size: 60px;
  line-height: 74px;
  color: #fff;
}

.description {
  margin: 28px 0 40px;
  font-size: 22px;
  line-height: 26px;
  color: #c2c2c2;
  text-align: center;
}

.cardWrapper    {
    display: flex;
    align-items: center;
    gap: 46px;
}

.purple {
  color: #9f4bfd;
}

.purpleLight {
  color: #dc4cfd;
}

.green {
  color: #27a17c;
}

.orange {
  color: #f9aa4b;
}

.orangeGradient {
  background: linear-gradient(90deg, #ff0000 0%, #faff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey {
  color: #7d7d7d;
}

.bold {
  font-weight: 700;
}
