.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 54px;
  background: var(--bgcolor);
}

.header {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: 60px;
  line-height: 74px;
  color: #fff;
}

.description {
  margin: 28px 0 40px;
  font-family: var(--font-2);
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #c2c2c2;
  text-align: center;
}

.cardWrapper {
  display: flex;
  align-items: center;
  gap: 46px;
}

.purple {
  color: #9f4bfd;
}

.purpleLight {
  color: #dc4cfd;
}

.green {
  color: #27a17c;
}

.orange {
  color: #f9aa4b;
}

.orangeGradient {
  background: linear-gradient(90deg, #ff0000 0%, #faff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grey {
  color: #7d7d7d;
}

.bold {
  font-weight: 700;
}

@media (max-width: 1400px) {
  .cardWrapper {
    flex-direction: column;
    width: 1024px;
  }
}

@media (max-width: 1024px) {
  .header {
    font-size: 48px;
    line-height: 60px;
  }

  .description {
    padding: 0 16px;
  }

  .cardWrapper {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 32px;
    line-height: 40px;
  }

  .description {
    font-size: 18px;
    line-height: 22px;
  }

  .cardWrapper {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .header {
    font-size: 24px;
    line-height: 28px;
  }

  .description {
    font-size: 16px;
    line-height: 20px;
    width: 310px;
    padding: 0;
  }

  .cardWrapper {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .root {
    width: 320px;
  }
}
